*::selection {
	background: var(--selection);
}
*::-webkit-scrollbar {
	background: var(--black);
}
*::-webkit-scrollbar-track {
	background: var(--pink-2);
}
*::-webkit-scrollbar-thumb {
	background: var(--selection);
}
*::-webkit-scrollbar-thumb:hover {
	cursor: pointer;
	background: var(--pink-1);
}
*::-webkit-scrollbar-corner {
	background-color: transparent;
	border: 0px solid transparent;
}
.rainbow {
    animation: linear forwards infinite rainbowAnimation 0.5s;
    background-clip: padding-box;
}
@keyframes rainbowAnimation {
    0% {
        background: linear-gradient(#f007, #fc07,#ff07,#0f07,#11f7,#00f7);
    }
    20%{
        background: linear-gradient(#00f7,#f007, #fc07,#ff07,#0f07,#11f7);
    }
    40%{
        background: linear-gradient(#11f7,#00f7,#f007, #fc07,#ff07,#0f07);
    }
    60%{
        background: linear-gradient(#0f07,#11f7,#00f7,#f007, #fc07,#ff07);
    }
    80%{
        background: linear-gradient(#ff07,#0f07,#11f7,#00f7,#f007, #fc07);
    }
    100%{
        background: linear-gradient(#fc07,#ff07,#0f07,#11f7,#00f7,#f007);
    }
}