header {
	height: 12vh;
	width: 100vw;
	display: flex;
	align-items: center;
	background: var(--pink-1);
}
header img {
	margin: 0 10px;
	filter: sepia(40%);
	user-select: none;
	height: 90%;
	border: 2px solid var(--text);
}
.header-title {
	font-size: 2rem;
	color: var(--text);
}