main {
	height: 88vh;
	background: var(--pink-2);
	overflow: scroll;
	padding: 0 10vw;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	overflow-x: hidden;
}
.main_audioToggler_container {
	width: 100%;
	height: fit-content;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}